body {
  background-color: darkblue;
  display: flex;
  justify-content: center;
}

#clock {
  width: 250px;
  height: 250px;
  border: 15px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clockFace {
  width: 89%;
  height: 89%;
  position: relative;
}

.Arrow {
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: black;
  right: 50%;
  top: 50%;
  transform-origin: 100%;
  transition: all .05s;
  transition-timing-function: cubic-bezier(0, 2.37, 0.97, 0.64);
  transform: rotate(90deg);
}